<div class="auth">
<% if user_signed_in? %>
  <%= link_to edit_user_registration_path, class: 'auth_link' do %>
    <div class='auth_1'><p><%= t('common.devise.user_edit')%></p></div>
  <% end %>
  <div class="gap"></div>
  <%= link_to destroy_user_session_path, method: :delete, class: 'auth_link' do %>
    <div class='auth_1'><p><%= t('common.devise.logout')%></p></div>
  <% end %>
<% else %>
  <!-- %= link_to t('common.devise.signup'), new_user_registration_path, class: 'auth_link' % -->
  <%= link_to new_user_session_path, class: 'auth_link' do %>
    <div class='auth_1'><p><%= t('common.devise.login')%></p></div>
  <% end %>
<% end %>
</div>
