<%= form_with(model: model_stock, local: true) do |form| %>

<div class='ms_details'>

  <% if model_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model_stock.errors.count, "error") %> prohibited this model_stock from being saved:</h2>
      <ul>
      <% model_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('model_stock.edit.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= t('model_stock.edit.status') %>
    <%= form.select :status, options_for_select(model_stock_status_list, @model_stock.status)%>
  </div>

  <div class="field">
    <%= t('model_stock.edit.group1') %>
    <%= form.select :group1, options_for_select(model_stock_group1_list, @model_stock.group1)%>
    <%= t('model_stock.edit.remark1') %>
    <%= form.text_field :remark1 %>
  </div>

  <div class="field">
    <%= t('model_stock.edit.group2') %>
    <%= form.select :group2, options_for_select(model_stock_group2_list, @model_stock.group2)%>
    <%= t('model_stock.edit.remark2') %>
    <%= form.text_field :remark2 %>
  </div>

  <div class="field">
    <%= t('model_stock.edit.group3') %>
    <%= form.select :group3, options_for_select(model_stock_group3_list, @model_stock.group3)%>
    <%= t('model_stock.edit.remark3') %>
    <%= form.text_field :remark3 %>
  </div>

  <div class="field">
    <%= t('model_stock.edit.scale') %>
    <%= form.select :scale, options_for_select(model_stock_scale_list, @model_stock.scale)%>
    <%= t('model_stock.edit.remark4') %>
    <%= form.text_field :remark4 %>
  </div>

  <div class="field">
    <%= t('model_stock.edit.provider') %>
    <%= form.select :provider, options_for_select(model_stock_provider_list, @model_stock.provider)%>
    <%= t('model_stock.edit.remark5') %>
    <%= form.text_field :remark5 %>
  </div>

  <div class="field">
    <%= t('model_stock.edit.desc') %>
    <%= form.text_area :desc %>
  </div>


  <div class="actions">
    <%= form.submit t('common.button.register')%>
  </div>
<% end %>

</div>

