<div class='operation model_stock_operation'>
  <%= link_to @model_stock, class: 'operation_link' do %>
    <div class='operation_1 model_stock_operation_1'>
      <p><%= t('common.button.show') %></p>
    </div>
  <% end %>
  <div class="gap"></div>
  <%= link_to model_stocks_path(page: @page, group1: @group1), class: 'operation_link' do %>
    <div class='operation_1 model_stock_operation_1'>
      <p><%= t('common.button.back')%></p>
    </div>
  <% end %>
</div>

<% debug 'edit', 'page is set:[' + @page.to_s + ']' %>
<% debug 'edit', 'group1 is set:[' + @group1.to_s + ']' %>

<%= render 'form', model_stock: @model_stock %>

