<%= form_with(model: stamp, local: true) do |form| %>

<div class='stamp_details'>

  <% if stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stamp.errors.count, "error") %> prohibited this stamp from being saved:</h2>
      <ul>
      <% stamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('stamp.edit.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= t('stamp.edit.price')%>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= t('stamp.edit.status')%>
    <%= form.select :status, options_for_select(stamp_status_list, @stamp.status)%>
  </div>

  <div class="field">
    <%= t('stamp.edit.group1')%>
    <%= form.select :group1, options_for_select(stamp_group1_list, @stamp.group1)%>
  </div>

  <div class="field">
    <%= t('stamp.edit.group2')%>
    <%= form.select :group2, options_for_select(stamp_group2_list, @stamp.group2)%>
  </div>

  <div class="field">
    <%= t('stamp.edit.group3')%>
    <%= form.select :group3, options_for_select(stamp_group3_list, @stamp.group3)%>
    <%= t('stamp.edit.remark3') %>
    <%= form.text_field :remark3 %>
  </div>

  <div class="field">
    <%= t('stamp.edit.remark5')%>
    <%= form.text_field :remark5 %>
  </div>

  <div class="field">
    <%= t('stamp.edit.issue_date')%>
    <%= form.text_field :issue_date %>
  </div>

  <div class="field">
    <%= t('stamp.edit.image_path')%>
    <%= form.text_field :image_path %>
  </div>

  <div class="field">
    <%= t('stamp.edit.remark4')%>
    <%= form.text_field :remark4 %>
  </div>

  <div class="field">
    <%= t('stamp.edit.leaf_id')%>
    <%= form.text_field :leaf_id %>
  </div>

  <div class="field">
    <%= t('stamp.edit.remark1')%>
    <%= form.text_field :remark1 %>
  </div>

  <div class="field">
    <%= t('stamp.edit.desc')%>
    <%= form.text_area :desc %>
  </div>

  <div class="actions">
    <%= form.submit t('common.button.register')%>
  </div>
<% end %>

</div>
