<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stamp.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @stamp.desc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stamp.status %>
</p>

<p>
  <strong>Group1:</strong>
  <%= @stamp.group1 %>
</p>

<p>
  <strong>Group2:</strong>
  <%= @stamp.group2 %>
</p>

<p>
  <strong>Group3:</strong>
  <%= @stamp.group3 %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @stamp.issue_date %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @stamp.image_path %>
</p>

<p>
  <strong>Remark1:</strong>
  <%= @stamp.remark1 %>
</p>

<p>
  <strong>Remark2:</strong>
  <%= @stamp.remark2 %>
</p>

<p>
  <strong>Remark3:</strong>
  <%= @stamp.remark3 %>
</p>

<p>
  <strong>Remark4:</strong>
  <%= @stamp.remark4 %>
</p>

<p>
  <strong>Remark5:</strong>
  <%= @stamp.remark5 %>
</p>

<%= link_to 'Edit', edit_stamp_path(@stamp) %> |
<%= link_to 'Back', stamps_path %>
