
<% cl = 'operation_1 book_operation_1' %>

<div class='operation book_operation'>
  <%= link_to edit_book_path(@book), class: 'operation_link' do %>
    <div class="<%= cl %>">
      <p><%= t('common.button.edit')%></p>
    </div>
  <% end %>
  <%= link_to @book, class: 'operation_link', method: :delete, data: { confirm: t('common.confirm.are_you_sure')} do %>
    <div class="<%= cl %>">
      <p><%= t('common.button.destroy')%></p>
    </div>
  <% end %>
  <%= link_to books_path(page: @page, group1: @group1), class: 'operation_link' do %>
    <div class="<%= cl %>">
      <p><%= t('common.button.back')%></p>
    </div>
  <% end %>
</div>

<% debug 'show', 'page is set:[' + @page.to_s + ']' %>
<% debug 'show', 'group1 is set:[' + @group1.to_s + ']' %>

<div class='book_details'>

<p>
  <strong><%= t('book.show.name')%></strong>
  <%= @book.name %>
</p>

<p>
  <strong><%= t('book.show.status')%></strong>
  <%= t('book.status.elem' + @book.status.to_s) %>
</p>

<p>
  <strong><%= t('book.show.group1')%></strong>
  <%= book_fix_group1(@book)%>
</p>

<p>
  <strong><%= t('book.show.group2')%></strong>
  <%= book_fix_group2(@book)%>
</p>

<p>
  <strong><%= t('book.show.group3')%></strong>
  <%= book_fix_group3(@book)%>
</p>

<p>
  <strong><%= t('book.show.author')%></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t('book.show.provider')%></strong>
  <%= book_fix_provider(@book)%>
</p>

<p>
  <strong><%= t('book.show.desc')%></strong>
  <%= @book.desc %>
</p>

</div>

