<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <% if @ua == 'Mobile' %>
    <% css = 'id = "mobile"' %>
  <% else %>
    <% css = '' %>
  <% end %>

  <body <%= css.html_safe %>>
    <%= render '/parts/header' %>
    <%= render '/parts/message' %>

    <%= yield %>

    <%= render '/parts/footer' %>
  </body>
</html>
